body {
    background-color: #F1F1F1;
}

input {
    font-size: 1.5em;
    background-color: #D6E4F0;
    color: #1E56A0;
    max-width: 700px;
    width: 100%;
    height: 4vh;
    outline: none;
    padding: 1em;
    margin: auto;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    border: none;
    box-shadow: 0 4px 10px #7790b1;
}

/* keyboard */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34vh;
}

.keyboard-wrapp {
    max-width: 50em;
    width: 100%;
    background-color: #163172;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.row {
    display: flex;
}

/* keys */

.key {
    width: 2em;
    height: 2em;
    background-color: #F6F6F6;
    color: #4175b9;
    font-size: larger;
    font-weight: 500;
    font-family: sans-serif;
    padding: 0.3em;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key::selection {
    background-color: transparent;
}

/* special keys */

/* back-space */
.back-space-key {
    width: 5em;
}

/* tab */
.tab-key {
    width: 3.5em;
}

/* back-slash */
.back-slash-key {
    width: 70px;
}

/* caps-lock */
.caps-lock-key {
    width: 4.6em;
}

/* enter */
.enter-key {
    width: 5.5em;
    background-color: #4175b9;
    color: #D6E4F0;
}

/* shift */
.left-shift-key {
    width: 5.5em;
}

.right-shift-key {
    width: 7.4em;
}

/* space */
.space-key {
    width: 13em;
    margin-left: 11.7em;
    margin-right: auto;
}

/* tab, back-space, caps-lock and shift key & spacebar pseudo class change */

.tab-key,
.back-space-key,
.caps-lock-key,
.shift-key,
.space-key {
    background-color: #1E56A0;
    color: #D6E4F0;
}

/* sup */

sup {
    color: #92aed2;
    margin: 0.2em;
    margin-bottom: 1em;
}

sup::selection {
    background-color: transparent;
}
